---
---

@import "{{ site.theme }}";
@charset "utf-8";



// Our variables - Modern color scheme and typography
$base-font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
$code-font-family: 'JetBrains Mono', 'Monaco', 'Courier New', monospace;
$base-font-size:   17px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.7;

$spacing-unit:     30px;

// Modern color palette
$text-color:       #1a202c;
$text-light:       #4a5568;
$background-color: #ffffff;
$background-alt:   #f7fafc;
$brand-color:      #3182ce;
$brand-hover:      #2c5282;
$accent-color:     #48bb78;

$grey-color:       #718096;
$grey-color-light: #e2e8f0;
$grey-color-dark:  #2d3748;
$border-color:     #e2e8f0;
 
// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;




// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
