/**
 * Site header
 */
.site-header {
    border-top: 4px solid $brand-color;
    border-bottom: 1px solid $border-color;
    min-height: 64px;
    background-color: $background-color;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 22px;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: -0.5px;
    margin-bottom: 0;
    float: left;
    transition: color 0.2s ease;

    &,
    &:visited {
        color: $text-color;
    }

    &:hover {
        color: $brand-color;
        text-decoration: none;
    }
}

.site-nav {
    float: right;
    line-height: 64px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-light;
        line-height: $base-line-height;
        font-weight: 500;
        font-size: 15px;
        transition: color 0.2s ease;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 24px;
        }

        &:hover {
            color: $brand-color;
            text-decoration: none;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $border-color;
    padding: $spacing-unit * 1.5 0;
    background-color: $background-alt;
    margin-top: $spacing-unit * 2;
}

.footer-heading {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: $spacing-unit / 2;
    color: $text-color;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 14px;
    color: $text-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));

    p {
        color: $text-color;
        line-height: 1.6;
    }
}

// Ensure all footer text is readable
.site-footer {
    a {
        color: $brand-color;

        &:hover {
            color: $brand-hover;
        }
    }

    p, li {
        color: $text-color;
    }
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: $spacing-unit * 1.2;
    color: $text-color;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit * 0.8;
        padding: $spacing-unit * 0.8;
        border: 1px solid $border-color;
        border-radius: 8px;
        background-color: $background-color;
        transition: all 0.2s ease;

        &:hover {
            border-color: $brand-color;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
            transform: translateY(-2px);
        }
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.post-link {
    display: block;
    font-size: 22px;
    font-weight: 600;
    margin-top: 8px;
    color: $text-color;
    transition: color 0.2s ease;

    &:hover {
        color: $brand-color;
        text-decoration: none;
    }
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit * 1.5;
}

.post-title {
    font-size: 42px;
    font-weight: 700;
    letter-spacing: -0.5px;
    line-height: 1.2;
    color: $text-color;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    font-size: 17px;
    line-height: 1.8;
    color: $text-color;

    h2 {
        font-size: 32px;
        font-weight: 700;
        margin-top: $spacing-unit * 1.5;
        margin-bottom: $spacing-unit * 0.7;
        color: $text-color;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;
        font-weight: 600;
        margin-top: $spacing-unit * 1.2;
        margin-bottom: $spacing-unit * 0.6;
        color: $text-color;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;
        font-weight: 600;
        margin-top: $spacing-unit;
        margin-bottom: $spacing-unit * 0.5;
        color: $text-color;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    p {
        margin-bottom: $spacing-unit * 0.8;
    }

    ul, ol {
        margin-bottom: $spacing-unit * 0.8;
    }

    blockquote {
        border-left: 4px solid $brand-color;
        background-color: $background-alt;
        padding: $spacing-unit * 0.7;
        margin: $spacing-unit * 0.8 0;
        border-radius: 4px;
    }
}


/**
* kl custom images
*/

.coverImg {
    margin: $spacing-unit * 1.5 0;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

    img {
        width: 100%;
        max-width: 400px;
        display: block;
        margin: 0 auto;
    }

    @include media-query($on-palm) {
        img {
            max-width: 100%;
        }
    }
}

/** Substack embed responsive styling */
.home iframe[src*="substack"] {
    max-width: 100%;
    margin: $spacing-unit * 1.5 0;
    border-radius: 8px !important;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
}

/** RSS subscribe link */
.rss-subscribe {
    text-align: center;
    margin-top: $spacing-unit * 1.5;
    padding-top: $spacing-unit;
    border-top: 1px solid $border-color;
    font-size: $small-font-size;
}

/** accordion test
*/

.accordion-panel {
    display: none;
}